<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/tag84x101.css">
    <title></title>
</head>
<body>
    <% correioslog.objeto_postal.map(function( val ){ %>
        <%
            let volumes = parseInt( val.cubagem )
            volumes = volumes === 0? 1 : volumes
        %>

        <% for(let i = volumes; i > 0; i--){ %>
            <div class="tag">
                <div class="codes">
                    <div class="row postagem-infos">
                        <div class="datamatrix">
                            <div id="datamatrix">
                                <img id="qrcode" src="data:image/png;base64,<%= val.base64.datamatrix %>" alt="">
                            </div>
                        </div>
                        <div class="correios-infos">
                            <img id="logo-correios" src="data:image/png;base64,<%= val.base64.logo_correios %>" alt="">
                            <div class="contrato">
                                Contrato: <b><%= correioslog.remetente.numero_contrato %></b>
                            </div>
                            <div class="servico-postagem">
                                <%= getServico( val.codigo_servico_postagem ) %>
                            </div>
                            <div class="codigo-rastreamento">
                                <%= format( val.numero_etiqueta, 'rastreio' ) %>
                            </div>
                        </div>
                        <div class="correios-encomenda">
                            <% if(val.nacional.numero_nota_fiscal !== ''){ %>
                                <div class="nf">NF:<%= val.nacional.numero_nota_fiscal %></div>
                            <% } %>

                            <% if(val.codigo_objeto_cliente !== ''){ %>
                                <div class="pedido">Pedido: <%= val.codigo_objeto_cliente %></div>
                            <% } %>

                            <% if( volumes ){ %>
                                <div class="volume">Volume: <%= i %>/<%= volumes %></div>
                            <% } %>
                            <div class="peso">Peso (g): <b><%= val.peso %></b></div>
                        </div>
                        <div class="correios-esb-encaminhamento">
                            <div class="wrapper-img">
                                <img id="enc" src="data:image/png;base64,<%= val.base64.tipoEncomenda %>" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row code-barcode">
                        <div class="barcode">
                            <img src="data:image/png;base64,<%= val.base64.code %>" alt="" />
                        </div>
                        <div class="extra-servico">
                            <% val.servico_adicional.codigo_servico_adicional.map(function( s ){ %>
                                <% if( s === '001' ){ %>
                                    <!--aviso de recebimento-->
                                    <div class="servico-item">AR</div>
                                <% } %>

                                <% if( s === '002' ){ %>
                                    <!--mão proprias-->
                                    <div class="servico-item">MP</div>
                                <% } %>

                                <% if( s === '057' ){ %>
                                    <!--mão proprias-->
                                    <div class="servico-item">GF</div>
                                <% } %>

                                <% if( s === '019' || s === '064' || s === '035' ){ %>
                                    <!--valor declarado-->
                                    <div class="servico-item">VD</div>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="recebedor">
                            <div class="label">Recebedor:</div>
                            <div class="underline"></div>
                        </div>
                        <div class="ass-doc">
                            <div class="assinatura">
                                <div class="label">Assinatura:</div>
                                <div class="underline"></div>
                            </div>
                            <div class="documento">
                                <div class="label">Documento:</div>
                                <div class="underline"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="destinatario">
                    <div class="row">
                        <div class="col destinatario-info">
                            <div class="dest">DESTINATÁRIO</div>
                            <div class="endereco">
                                <div><%= val.destinatario.nome_destinatario %></div>
                                <div><%= val.destinatario.logradouro_destinatario %>, <%= val.destinatario.numero_end_destinatario === ''? 'S/N' : val.destinatario.numero_end_destinatario %></div>
                               
                                <div> <% if( val.destinatario.complemento_destinatario !== '' ){ %> <%= val.destinatario.complemento_destinatario %> <% } %> <%= val.nacional.bairro_destinatario %></div>
                                
                                <div><b><%= format(val.nacional.cep_destinatario, 'cep') %></b> <%= val.nacional.cidade_destinatario %>/<%= val.nacional.uf_destinatario %></div>
                                <% if( val.rt1){ %>
                                    <div><%= val.rt1 %></div>
                                <% } %>
                            </div>
                        </div>
                        <div class="col barcode-cep">
                            <div class="cep-bar">
                                <img src="data:image/png;base64,<%= val.base64.cepBarcode %>" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="remetente">
                    <div class="row">
                        <div class="label">
                            Remetente:
                        </div>
                        <div class="nome-remetente">
                            <%= correioslog.remetente.nome_remetente %>
                        </div>
                    </div>
                    <div class="row endereco-remetente">
                        <%= correioslog.remetente.logradouro_remetente %>, <%= correioslog.remetente.numero_remetente %> - <%= correioslog.remetente.bairro_remetente %>
                    </div>
                    <div class="row cep-remetente">
                        <b><%= format( correioslog.remetente.cep_remetente, 'cep' ) %></b> <%= correioslog.remetente.bairro_remetente %>-<%= correioslog.remetente.uf_remetente %>
                    </div>
                </div>
            </div>
        <% } %>
    <% }) %>

</body>
</html>
