<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/voucher.css">
    <title></title>
</head>
<body>
    <div class="page">
        <div class="voucher">
            <div class="logo-coreios">
                <div class="col-title">
                    <div class="logo">
                        <img src="data:image/png;base64,<%= logo %>" alt="">
                    </div>
                    <div class="text">
                        EMPRESA BRASILEIRA DE CORREIOS E TELÉGRAFOS
                    </div>
                </div>

                <div class="border-voucher content">
                    <div class="col1">
                        PRÉ - LISTA DE POSTAGEM - PLP - SIGEP WEB
                    </div>

                    <div class="col2">

                        <div class="infos-postagem">
                            <div class="col infos">

                                <div class="title-info">
                                    SIGEP WEB - Gerenciador de postagem dos Correios
                                </div>
                                <div class="info-campo">
                                    <label for="">Contrato:</label>
                                    <div class="valor-campo"><%= contrato %></div>
                                </div>

                                <div class="info-campo">
                                    <label for="">Cliente:</label>
                                    <div class="valor-campo"><%= client %></div>
                                </div>

                                <div class="info-campo">
                                    <label for="">Telefone de Contato:</label>
                                    <div class="valor-campo"><%= phone %></div>
                                </div>

                                <div class="info-campo">
                                    <label for="">Email de Contato:</label>
                                    <div class="valor-campo"><%= email %></div>
                                </div>

                            </div>

                            <div class="col barcode">
                                <div class="number">
                                    Nº PLP: <%= idPLP %>
                                </div>

                                <div class="content-barcode">
                                    <div class="barcode-draw">
                                        <img src="data:image/png;base64,<%= barcode %>" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col3">

                        <table class="lista-objetos">
                            <thead>
                                <tr>
                                    <td>Quantidade de Objetos:</td>
                                    <td>Serviço:</td>
                                </tr>
                            </thead>

                            <tbody>
                                <% packageList.map(function( val ){ %>
                                    <tr>
                                        <td><%= val.qtd %></td>
                                        <td><%= val.code %> - <%= val.name %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>

                        <div class="data-fechamento">
                            <div class="data-print">
                                Data de Fechamento: <%= date %>
                            </div>

                            <div class="data-estenco">
                                Data Entrega: ____/____/______
                            </div>
                        </div>

                        <div class="assinatura">
                            <div class="assina">
                                <div class="linha"></div>
                                <div class="text">
                                    Assinatura / Matrícula dos correios
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="pontilhado">
            <div class="via1">1ª via - Correios</div>

            <div class="dash"></div>

            <div class="via1">2ª via - Cliente</div>
        </div>

        <div class="voucher">
            <div class="logo-coreios">
                <div class="col-title">
                    <div class="logo">
                        <img src="data:image/png;base64,<%= logo %>" alt="">
                    </div>
                    <div class="text">
                        EMPRESA BRASILEIRA DE CORREIOS E TELÉGRAFOS
                    </div>
                </div>

                <div class="border-voucher content">
                    <div class="col1">
                        PRÉ - LISTA DE POSTAGEM - PLP - SIGEP WEB
                    </div>

                    <div class="col2">

                        <div class="infos-postagem">
                            <div class="col infos">

                                <div class="title-info">
                                    SIGEP WEB - Gerenciador de postagem dos Correios
                                </div>
                                <div class="info-campo">
                                    <label for="">Contrato:</label>
                                    <div class="valor-campo"><%= contrato %></div>
                                </div>

                                <div class="info-campo">
                                    <label for="">Cliente:</label>
                                    <div class="valor-campo"><%= client %></div>
                                </div>

                                <div class="info-campo">
                                    <label for="">Telefone de Contato:</label>
                                    <div class="valor-campo"><%= phone %></div>
                                </div>

                                <div class="info-campo">
                                    <label for="">Email de Contato:</label>
                                    <div class="valor-campo"><%= email %></div>
                                </div>

                            </div>

                            <div class="col barcode">
                                <div class="number">
                                    Nº PLP: <%= idPLP %>
                                </div>

                                <div class="content-barcode">
                                    <div class="barcode-draw">
                                        <img src="data:image/png;base64,<%= barcode %>" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col3">

                        <table class="lista-objetos">
                            <thead>
                                <tr>
                                    <td>Quantidade de Objetos:</td>
                                    <td>Serviço:</td>
                                </tr>
                            </thead>

                            <tbody>
                                <% packageList.map(function( val ){ %>
                                    <tr>
                                        <td><%= val.qtd %></td>
                                        <td><%= val.code %> - <%= val.name %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>

                        <div class="data-fechamento">
                            <div class="data-print">
                                Data de Fechamento: <%= date %>
                            </div>

                            <div class="data-estenco">
                                Data Entrega: ____/____/______
                            </div>
                        </div>

                        <div class="assinatura">
                            <div class="assina">
                                <div class="linha"></div>
                                <div class="text">
                                    Assinatura / Matrícula dos correios
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
